<section>
  <p style="font-size: 22px;">
    ВСЕ КАРТОЧКИ:
  </p>
  <% @cards.each do |card|%>
    <tr>
      <td><%=card.review_date %></td> ==
      <td><%=card.original_text %></td> ==
      <td><%=card.translated_text %></td> <br> 
    </tr>
  <% end %>
  <br>
  <%= link_to 'Назад', root_path %>   

</section>