<section>
  <p style="font-size: 22px;">
    КАРТОЧКА ЗАПИСАНА В БАЗУ ДАННЫХ!
  </p>  <br>
<%= link_to 'Изменить карточку', edit_card_path(@card) %> 
<br>
  <%= link_to 'Готово!', cards_path %>   
</section>