<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <link rel="stylesheet" href="application.css">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

  <body>
   <%=yield%>
  </body>